<div class="container mt-3">
  <h1>All our flats</h1>
    <p><%= "We have #{@flats.count} flats for you 😄" %></p>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="card col-4">
        <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
        <div class="card-body">
        <h3 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    <% end %>
  </div>
</div>
